.favouriteCarsWrapper {
    margin: 0px 40px 0px 40px;
}

.favourites_count {
    border-bottom: 1px solid #d9d9d9;
    height: 130px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    display: flex;
    align-items: center;
}
